* {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-brand {
    font-weight: 1000;
}

/* Footer */
footer {
    height: 50px;
    background-color: #0779fb;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
}


